$fontLight: white;
$bgDark: salmon;
$primary: green;


$bpSmall: 576px;
$bpMedium: 768px;
$bpLarge: 992px;

$borderRadius: 10px;
$transition: all 0.3s;
$shadow: 0 25px 50px -12px black(0, 0, 0, 0.6);

$fontbase: 16px;
$fontbase: $fontbase + 10;

